# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
.venv/
venv/
ENV/

# VSCode
.vscode/

# Environment variables
.env

# SQLite database
*.db
*.sqlite3

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Test/coverage
htmlcov/
.coverage
.tox/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json

# Pydantic cache
__pydantic_cache__/
